header {
    background-color: #5bb1ae
    color: #333;
    font-size: 16px;
    text-align: center;
}
h1{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu a{
    color: #333;
    font: size 16px;
}
.menu a{
    color: rgb(88, 20, 63);
}
.hero{
    color: aqua;
    text-align: center;
    padding: 50px;
}
* {
    background-color: rgba(249, 196, 157, 0.648);
}
.items{
    background-color: azure;
    color: aquamarine;
    padding: 20px;
    margin: 10px;
    text-align: 50px;
}
h3{
    text-align: center;
    font-size: 18px;
    background-color: darkgoldenrod;
}

form{
    text-align: center;
}
form input[type="text"],input[type="email"], textarea{
    width: 80%;
    padding: 10px;
    margin: 10px;
}
img{
    width: 900px;
    text-align: center;
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
footer{
    text-align: center;
    text-size-adjust: 40px;
}
div{
    column-count: 4;
    background-color: rgb(42, 169, 106);
    text-size-adjust: 100px;
}
h4,p{
    text-align: center;
    font-size: 20px;
}
ul,img{
    width: 60%;
    height: auto;
    padding: auto;
    text-align: center;
}